name: fast-cd

on:
    workflow_dispatch:
        inputs:
            environment:
                type: choice
                description: 'ambiente de deploy'
                required: true
                options:
                    - dev
                    - prod
            imageTag:
                required: true
                description: 'Tag da imagem Docker'
                default: 'latest'
jobs:
  deployment:
    runs-on: ubuntu-latest
    env:
      HOST_ENV: ${{ github.event.inputs.envronment == 'prod' && '3.238.239.249' || '3.238.239.249' }} 
      SSH_USER: "ubuntu"
      SSH_PORT: 22
    steps:
    - run: |
        echo "Ambiente de deployment: ${{ github.event.inputs.envronment }}"
        echo "imageTag: ${{ github.event.inputs.imageTag }}"
        
    - name: Deploy service
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: "${{ env.HOST_ENV }}"
        username: "${{ env.SSH_USER }}"
        key: ${{ secrets.SSH_KEY }}
        port: "${{ env.SSH_PORT }}"
        script: |
          sudo mkdir -p /todo-fast
          sudo docker service rm fast-ci-todo | true
          sudo docker service create --name fast-ci-todo --replicas=3 -p 80:3000 \
            --mount type=bind,source=/todo-fast,destination=/etc/todos \
            --mount type=bind,source=/home/${{ env.SSH_USER }}/,destination=/etc/env \
            waltenbergjr/fast-ci-cd:${{ github.event.inputs.imageTag }}