name: fast-ci

on: 
  push:
    branches:
      - main

jobs:

  docker:
    name: Docker build and publish
    runs-on: ubuntu-latest
    needs:
      - tests
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx  
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: build and push Docker image
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: aurineque/todo-fast:latest
          